@model UsedStockManagement.Models.UsedCarStock

<!DOCTYPE html>
<html>
<!-- <link rel="stylesheet" href="~/CSS/style.css"> -->
<head>
    <h1> Car Details </h1>
</head>

<body>
    <div>Price = @Model.Price</div>
    <div>Year = @Model.Year</div>
    <div>Kilometer = @Model.Kilometer</div>

    <div>Fuel Type = @Model.FuelType</div>
    @if (@Model.FuelEconomy != -1)
    {
        <div>Fuel Economy = @Model.FuelEconomy</div>
    }

    <div>City = @Model.City</div>
    <div>Color = @Model.Color</div>

    <div>Make = @Model.Make</div>
    <div>Model = @Model.Model</div>

    <div>Version = @Model.Version</div>
</body>
</html>
